*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black ;
    /* cursor: none; */
}
#main{
    height:100%;
    width:100%;
    
} 
.elem{
    height: 100px;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: start;
 
}
.elem h1{
    font-size: 50px;
    color: white;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}
.elem img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
   position:absolute ;

    opacity: 0;
    transition: all ease 0.1s;
}